{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="thanks-order text-center" >
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next " value=" {{ next }} ">
            <button class="btn-korzina mt-3 w-50" type="submit" class="btn btn-primary" >Войти в аккаунт</button><br>
            <a href="{% url 'user_register' %}">Нет аккаунта? Зарегистрироваться</a><pre></pre>

        </form>
</div>
{% endblock %}