<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Вход</title>
</head>
<body>
    <div class="vhod">
        <img src="{% static 'img/logo.png' %}">
        <form method="post">
            {% csrf_token %}
            <label>Ваш email: </label>
            <p>{{ form.email }}</p>
            <button type="submit">Сброс пароля</button><br>
        </form>
    </div>
</body>
</html>