<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Сброс пароля</title>
</head>
<body>
    <div class="vhod">
        <img src="{% static 'img/logo.png' %}">
        <р>Мы отправили вам по электронной почте инструкции
          по установке пароля. Если они не получены в течение
          нескольких минут, то проверьте папку со спамом.</р>
    </div>
</body>
</html>