<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Вход</title>
</head>
<body>
    <div class="vhod">
        {% if validlink %}
            <p>Пожалуйста, введите (и подтвердите) свой новый пароль.</p>
                <form action="" method="post">
                {% csrf_token %}
                <table>
                <tr>
                <td>{{ form.new_password1.errors }}
                <label>
                    Новый пароль:
                </label></td>
                <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                <td>{{ form.new_password2.errors }}
                <label >
                    Новый пароль:
                </label></td>
                <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                <td></td>
                <td><input type="submit" value=" сменить пароль " /></td>
                </tr>
                </table>
                </form>
        {% else %)
            <h1> Сшибка при смене пароля!!! </h1>
            <p> Ссылка на сброс пароля была недействительной, возможно, потому, что
                она уже использовалась. Пожалуйста, запросите новый сброс пароля.</p>
        {% endif %)
    </div>
</body>
</html>