<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Сброс пароля</title>
</head>
<body>
    <div class="vhod">
        <img src="{% static 'img/logo.png' %}">
        Для смены пароля пользователя с электронной почтой {{ email }}
        перейдите по ссылке ниже:
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm'
        uidЬ64=uid token=token %}
    </div>
</body>
</html>