{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="thanks-order text-center" >
        <form method="post">
            {% csrf_token %}
             {% for f in form %}
                <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}: </label>{{f}}</p>
                <div class="form-error">{{ f.errors }}</div>
             {% endfor %}
            <button class="btn-korzina mt-3 w-50" type="submit" class="btn btn-primary" >Зарегистрироваться</button><br>
            <a href="{% url 'login' %}">Назад</a><pre></pre>
        </form>
    </div>
{% endblock %}