<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Регистрация</title>
</head>
<body>
    <div class="vhod">
        <img src="{% static 'img/logo.png'%}">
        <form method="post">
            {% csrf_token %}
             {% for f in form %}
                <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}: </label>{{f}}</p>
                <div class="form-error">{{ f.errors }}</div>
             {% endfor %}
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</body>
</html>