{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="container text-start">
            <div class="row">
              <div class="col-auto">
                <div class="product-info-img">
                    <img src="img/rose.jpg">
                </div>
              </div>
              <div class="col">
                <div class="product-info-text">
                    <h3>Букет из 10 красных роз</h3>
                    <h4><strong>1 200 ₽</strong></h4>
                    <p>Роза (шиповник) — это полиморфный род многолетних растений семейства розовых.
                        Роза является декоративной и эфиромасличной культурой. Род насчитывает около 400 видов, которые произрастают в умеренной и субтропической зонах Северного полушария. Более 75 % видов растут в Китае и Средней Азии. Некоторые дикорастущие виды широко распространены вплоть до Заполярья.
                        Роза — это листопадный, иногда вечнозелёный многостебельный кустарник или небольшое дерево, реже лиана. На побегах и ветвях роз</p>
                    
                    <p>Код товара: <strong>1233321</strong><br>
                    Состав: <strong>10 красных роз</strong><br>
                    Вес: <strong>500 г.</strong></p>
                    <button type="button">Добавить в корзину</button>
                    
                </div>
              </div>
              
            </div>
          </div>
{% endblock %}