{% extends "mywork/base_arm.html" %}
{% load static %}
{% block title %}<title>Готово</title>{% endblock %}
{% block namestr %} <h>Готово</h> {% endblock %}
{% block content %}
<div id="conten_edit" class="content">
    <img src="{% static 'img/status.png' %}">
    <form method = "post"  enctype="multipart/form-data">
        <h>Готов заказ?<br> Отметьте как готовое</h>
                {% csrf_token %}
                {{ form.as_p }}
        <button type="submit" >Подтвердить</button>
    </form>

</div>
{% endblock %}