{% extends "base.html" %}
{% load static %}
{% block content %}
<h4 class="korzina-text">Оформление доставки</h4>
     <div class="oformlenie_user">
        <div class="container text-start">
            <div class="row align-items-start">
              <div class="col">
                <h5>Получатель</h5>
                <input type="text" placeholder="Имя">
                <input type="number" placeholder="Номер телефона">
                <textarea name="textarea" placeholder="Введите текст для открытки"></textarea>
              </div>
              <div class="col ">
                <h5>Доставка</h5>
                <input type="text" placeholder="Адрес доставки">
                <input type="datetime-local" placeholder="Дата доставки">
                <div class="delevery">
                <p>Стоимость доставки: 300 руб.</p>
                <p>Стоимость сборки: 200 руб.</p>
                <p>Итого к оплате: 1 700 руб.</p>
                <button class="btn_cart">Добавить карту</button>
            </div>
                <a href="{% url 'thanks_delivery' %}"><button class="delevery-btn mt-3" type="button">Оформить заказ</button></a>
              </div>
              
          </div>
        </div>
       </div>
     
{% endblock %}