{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="container text-start">
            <div class="row">
              <div class="col-auto">
                <div class="product-info-img">
                    <img src="{{product.cover.url}}">
                </div>
              </div>
              <div class="col">
                <div class="product-info-text">
                    <h3>{{product.name}}</h3>
                    <h4><strong>{{product.price}} ₽</strong></h4>
                    <p>{{product.info}}</p>
                    
                    <p>Код товара: <strong>{{product.kod_product}}</strong><br>
                    Состав: <strong>10 красных роз</strong><br>
                    Вес: <strong>500 г.</strong><br>
                    Категория: <strong>{{product.category.name}}</strong></p>
                    <a href="{% url 'add-product' product.id%}"><button type="button">Добавить в корзину</button></a>
                    
                </div>
              </div>
              
            </div>
          </div>
{% endblock %}